
<div class="row mt-5">
 
    <div class="col-lg-8 offset-lg-2 ">
      <h1 class="text-center">Order Details</h1>
      <form [formGroup]="orderDel" (ngSubmit)="order()" >
        <div class="row">
          <div class="col-md-6 p-3">
            <div class="form-group">
              <label>Order No</label>
              <input class="form-control" type="number"  placeholder="Order No-0001"  />
            </div>
          </div>
          <div class="col-md-6 p-3">
            <div class="form-group">
              <label>Contact Name</label>
              <input class="form-control" type="text" placeholder="Your Name" formControlName="patientName" formControlName="contactname"/>
              <span *ngIf="contactname && contactname.invalid" class="text-danger">This field is required!!!</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 p-3">
            <div class="form-group">
              <label>Order Date</label>
              <div class="cal-icon">
                <input type="date" min="{{minDate}}" class="form-control " placeholder="Order Date"  />
                <span *ngIf="orderDate && orderDate.invalid" class="text-danger">Required!!!</span>
                
              </div>
            </div>
          </div>
          <div class="col-md-2 p-3">
            <div class="form-group">
              <label>Time</label>
              <div class="time-icon">
                <input type="text" class="form-control" id="datetimepicker3" placeholder="Order Time"  />
              </div>
            </div>
            
            
          </div>
          <div class="col-md-2 p-3">
            <div class="form-group">
              <label>Total Tax</label>
              <div class="time-icon">
                <input type="number" class="form-control" id="datetimepicker3" placeholder="total tax"  formControlName="totalTax"/>
                <span *ngIf="totalTax && totalTax.invalid" class="text-danger">Required!!!</span>
              </div>
            </div>
            
            
          </div>
          <div class="col-md-2 p-3">
            <div class="form-group">
              <label>Grand Total</label>
              <div class="time-icon">
                <input type="number" class="form-control" id="datetimepicker3" placeholder="total" formControlName />
              </div>
            </div>
            
            
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 p-3">
            <div class="form-group">
              <label>Items Ordered</label>
              <input class="form-control" type="number"  placeholder="Order Count to be display"  />
            </div>
          </div>
          <div class="col-md-6 p-3">
            <div class="form-group">
              <label>Phone Number</label>
              <input class="form-control" type="number" placeholder="Phone Number"/>
            </div>
          </div>
        </div>
        
        <div class="form-group ">
          <label>Message</label>
          <textarea cols="30" rows="4" class="form-control" placeholder="Write something . . ."></textarea>
        </div>
        <div class="form-group">
          <label class="display-block p-3"> Status</label>
          <div class="form-check form-check-inline p-3">
            <input class="form-check-input" type="radio" name="status" id="product_active" value="Active" checked   />
            <label class="form-check-label" for="product_active">
              Available
            <!-- your are  {{Isactive}} -->
            </label>
          </div>
          <div class="form-check form-check-inline p-3">
            <input class="form-check-input" type="radio" name="status" id="product_inactive" value="Inactive"  />
            <label class="form-check-label" for="product_inactive">
              Unavailable
            </label>
          </div>
        </div>
        <div class="m-t-20 text-center p-3">
           <a href="payment" class="btn btn-secondary submit-btn">
            Order Place 
           </a>


           



        </div>
      </form>
    </div>
  </div>