
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"> <img class="logo" src="assets/logo.png" alt="">&nbsp;&nbsp;&nbsp; <span>FIERY</span>  RESTAURANT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ">
      <li class="nav-item active ">
        <a class="nav-link" href="dashboard">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="order-list">Your Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Offer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Pending</a>
      </li>&nbsp;&nbsp;
      <li class="nav-item ">
        <a class="nav-link text-white btn btn-secondary " href="#"> <i class="fi fi-sr-shopping-cart"></i> Go to card</a>
      </li>
    </ul>
    <!-- <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link text-white btn btn-secondary " href="#"> <i class="fi fi-sr-shopping-cart"></i> Go to card</a>
      </li>
    </ul> -->
  </div>
</nav>
<!-- <div class="body"> -->

  <!-- <app-dashboard></app-dashboard> -->
<!-- <app-view-order-info></app-view-order-info> -->
<!-- </div> -->


<router-outlet></router-outlet>

